.imagesContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
   max-width: 1200px;
}

.imagesDiv {
display: flex;
justify-content: center;
}

